.container {
  text-align: center;
  background-color: firebrick;
}

.survey-form {
  /* margin-top: 10px; */
  background-color: blue;
  color: white;
  text-align: left;
  margin: 20px auto;
  width: 50%;
}

.element {
  margin: 10px 10px;
  padding-left: 10px;
}
